/*
    Note: This app is not heavily dependent to the css that's only maintain a single css file.
*/
*{
    background: ##FFFFFF;
    
}
body {
    font-family: "Nunito", sans-serif;
    background: ##FFFFFF;
    min-height: 100vh;
}
.w3-bar {
    margin-bottom: 20px;
}
/* LandingPage Component styles */
.bgimg {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
     background-color: ##FFFFFF;
}

/* CenterToScreen Component styles */
.center-to-screen{
    min-height: 50vh;
    display: flex;
    justify-content: center;
     background-color: ##FFFFFF;
    align-items: center;
}
